<!DOCTYPE html>
<html>
<head>
  <title>Parallax Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><input type="button" class = "btn" ></li> &nbsp;
                <li><input type="button" value = "TripWithUs!" class = "title" style="color:maroon;" ></li> &nbsp;
                <!-- <li class="nav-link" >TripWithUs!</li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link" routerLink="our-story">About Us</a>
                </li>

                <li>
                    <a class="nav-link" routerLink="admin">Places of Interest</a>
                </li>
                <li>
                    <a class="nav-link"  routerLink="events">Events</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="parallax-container">

  <div id="portfolio">
      <div class="container">




        <div class="categories">
          <ul class="cat">

            <p className="long-para" style="color:black;">
                Explore our expert recommendations on nearby live events, festivals, tours, and music concerts around the U.S. with us! Get promo codes, best deals and discounts! After all, what completes your trip but a gala time at a fun event with family and friends!
                </p>
          </ul>
          <!-- <div class="clearfix"></div> -->
        </div>
        <div class="row">
            <div class="portfolio-items">
              <div class="col-sm-6 col-md-3 col-lg-3 web">
                <div class="portfolio-item">
                  <div class="hover-bg"> <a href="/assets/images/nyclarge.jpg" title="New York City" data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>New York City</h4>
                    </div>
                    <img src="/assets/images/nycsmall.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 product">
                <div class="portfolio-item">
                  <div class="hover-bg"> <a href="02/assets/images/washingtonlarge.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Grand Canyon</h4>
                    </div>
                    <img src="/assets/images/washingtonsmall.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 web">
                <div class="portfolio-item">
                  <div class="hover-bg"> <a href="/assets/images/disneylarge.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Disney World</h4>
                    </div>
                    <img src="/assets/images/disneysmall.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3 col-lg-3 photography">
                <div class="portfolio-item">
                  <div class="hover-bg"> <a href="/assets/images/lasvegaslarge.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Las Vegas</h4>
                    </div>
                    <img src="/assets/images/lasvegassmall.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                </div>
              </div>


            </div>
          </div>




      </div>
    </div>

  <!-- <div class="valign-wrapper h100">
    <h1 class=" white-text overlay center-align">

    </h1>
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="assets/images/coachella.jpg" >
    </div>
  </div>
</div>

<div class="section white valign-wrapper">
  <div class="row container center-align">
    <h5 class="story-header" style="color:black;">VISIT COACHELLA</h5>
    <br />
    <p style="color:black;"> This is a fun music festival at Los Angeles!</p>
  </div>
</div> -->

<!-- <div class="parallax-container">
  <p class="white-text right-align header">
  </p>
  <div class="valign-wrapper h100">
    <h1 class=" white-text overlay center-align">
          etiam tempor orci eu lobortis
        </h1>

    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="assets/images/cake1.jpg">
    </div>
  </div>
</div>

<div class="parallax-container">
    <p class="white-text right-align header">
    </p>
    <div class="valign-wrapper h100">
      <h1 class=" white-text overlay center-align">
            etiam tempor orci eu lobortis
          </h1>

      <div class="parallax grey lighten-1" materialize="parallax">
        <img src="assets/images/coachella.jpg">
      </div>
    </div>
  </div>
<div class="parallax-container">
  <p class="white-text right-align header">
  </p>
  <div class="valign-wrapper h100">
    <h1 class=" white-text overlay center-align">
          morbi tincidunt augue interdum velit
        </h1>

    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="assets/images/cycling.jpg">
    </div>
  </div>
</div> -->
</div>
</body>
</html>
