<!DOCTYPE html>
<html>
<head>
  <title>TripWithUs!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <!-- <img src="/assets/images/shee.png" alt=""> -->
                    <p><img src="/assets/images/shee.png" alt="Smiley face" > TripWithUs!</p>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <!-- <a class="navbar-brand" href="#">
                        <img src="http://placehold.it/150x50&amp;text=Logo" alt="">
                    </a> -->
                    <ul>
                    <!-- <input type="button" class = "btn" >< &nbsp; -->

                    <!-- <li><input type="button" value = "TripWithUs!" class = "title" style="color:maroon;" ></li> &nbsp; -->
                    <!-- <li class="nav-link" >TripWithUs!</li> -->
                  </ul>

                <!-- <a  href="#">
                    <img src="http://placehold.it/150x50&amp;text=Logo" alt="">
                </a> -->
                <ul class="nav navbar-nav navbar-right main-navigation mobile-navigation">
                    <!-- <li>
                        <a class="nav-link" routerLink="our-story">About Us</a>
                    </li> -->

                    <li>
                        <a class="nav-link" routerLink="">Home</a>

                    </li>
                    <li>
                        <a class="nav-link" routerLink="aboutus">About Us</a>
                    </li>
                    <li>
                        <a class="nav-link"  routerLink="signup">Sign Up</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="login">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="pimg1">
	<div class="ptext">
	<span class="border">
		TripWithUs!
	</span>
  </div>
  <div class="ptext" style="float:right;">
      <span class="border">
          Find great places, and events to explore!
      </span>
      </div>

</div>

<section class="section section-dark">

    <h2> You dream it - we make it ! </h2>
          <div id="portfolio">
              <div class="container content">

                      <p class="content-para">
                          Hello, we’re TripWithUs! your premium travel planning service. We know you’re always busy.
                        No time for organizing a trip to your dream city that you always wanted to explore.
                        So let us take care of that, we’re really good at it, we promise!
                      </p>


                <div class="categories">
                  <ul class="cat">
                    <!-- <li>
                      <ol class="type">
                        <li><a href="#" data-filter="*" class="active">All</a></li>
                        <li><a href="#" data-filter=".web">Web Design</a></li>
                        <li><a href="#" data-filter=".photography">Photography</a></li>
                        <li><a href="#" data-filter=".product">Product Design</a></li>
                      </ol>
                    </li> -->

                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="row">
                  <div class="portfolio-items">
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                      <div class="portfolio-item">
                        <div class="hover-bg"> <a href="/assets/images/customer.jpg" title="Customer Service" data-lightbox-gallery="gallery1">
                          <div class="hover-text">
                            <h4>Customer Service</h4>
                          </div>
                          <img src="/assets/images/customer.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 product">
                      <div class="portfolio-item">
                        <div class="hover-bg"> <a href="/assets/images/checkout.jpg" title="Simple Checkout" data-lightbox-gallery="gallery1">
                          <div class="hover-text">
                            <h4>Simple Checkout</h4>
                          </div>
                          <img src="/assets/images/checkout.jpg" class="img-responsive" alt="Simple Checkout"> </a> </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 web">
                      <div class="portfolio-item">
                        <div class="hover-bg"> <a href="/assets/images/reco.jpg" title="Expert Recommendation" data-lightbox-gallery="gallery1">
                          <div class="hover-text">
                            <h4>Expert Recommendation</h4>
                          </div>
                          <img src="/assets/images/reco.jpg" class="img-responsive" alt="Expert Recommendation"> </a> </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3 photography">
                      <div class="portfolio-item">
                        <div class="hover-bg"> <a href="/assets/images/se.png" title="Simply Search!" data-lightbox-gallery="gallery1">
                          <div class="hover-text">
                            <h4>Simply Search!</h4>
                          </div>
                          <img src="/assets/images/se.png" class="img-responsive" alt="Simply Search!"> </a> </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>

</section>


<div class="pimg2">
	<div class="ptext">
	<span class="border trans">
      <h2> Life's an adventure &mdash; Paddle hard !</h2>
	</span>
	</div>
</div>


<section class="section section-dark">
    <h2> Interesting Destinations </h2>

    <div id="portfolio">
        <div class="container content">
            <p class="content-para">
                Explore best places to go Kayaking around the U.S. with us! Ranging from Prince William Sound
                located in the heart of Chugach National forest in Alaska to Congress Avenue in the downtown
                Austin, Texas.  For each of these locations we provide you with the information you care about.
                Also, we are not limited to kayaking alone!
                </p>
          <div class="categories">
            <ul class="cat">
              <!-- <li>
                <ol class="type">
                  <li><a href="#" data-filter="*" class="active">All</a></li>
                  <li><a href="#" data-filter=".web">Web Design</a></li>
                  <li><a href="#" data-filter=".photography">Photography</a></li>
                  <li><a href="#" data-filter=".product">Product Design</a></li>
                </ol>
              </li> -->
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="row">
            <div class="portfolio-items">
              <div class="col-sm-6 col-md-3 col-lg-3 web">
                <div class="portfolio-item">
                  <div class="hover-bg nohover"> <a href="/assets/images/nyclarge.jpg" title="New York City" data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>New York City</h4>
                    </div>
                    <img src="/assets/images/nycsmall.jpg" class="img-responsive" alt="Project Title"> </a>
                    </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 product">
                <div class="portfolio-item">
                  <div class="hover-bg nohover"> <a href="02/assets/images/washingtonlarge.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Grand Canyon</h4>
                    </div>
                    <img src="/assets/images/washingtonsmall.jpg" class="img-responsive" alt="Project Title"> </a>
                    </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 web">
                <div class="portfolio-item">
                  <div class="hover-bg nohover"> <a href="/assets/images/disneylarge.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Disney World</h4>
                    </div>
                    <img src="/assets/images/disneysmall.jpg" class="img-responsive" alt="Project Title"> </a>
                    </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3 col-lg-3 photography">
                <div class="portfolio-item">
                  <div class="hover-bg nohover"> <a href="/assets/images/lasvegaslarge.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Las Vegas</h4>
                    </div>
                    <img src="/assets/images/lasvegassmall.jpg" class="img-responsive" alt="Project Title"> </a>
                    </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

</section>

<div class="pimg3">
	<div class="ptext">
	<span class="border ">
    Want to check out happening Events ?
	</span>
	</div>
</div>


<section class="section section-dark">
    <h2>It's more than just music !</h2>

    <div id="portfolio">
        <div class="container content">
            <p class="content-para">
                Explore our expert recommendations on nearby live events, festivals, tours, and music concerts around the U.S. with us! Get promo codes, best deals and discounts! After all, what completes your trip but a gala time at a fun event with family and friends!
                </p>
          <div class="categories">
            <ul class="cat">
              <!-- <li>
                <ol class="type">
                  <li><a href="#" data-filter="*" class="active">All</a></li>
                  <li><a href="#" data-filter=".web">Web Design</a></li>
                  <li><a href="#" data-filter=".photography">Photography</a></li>
                  <li><a href="#" data-filter=".product">Product Design</a></li>
                </ol>
              </li> -->
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="row">
            <div class="portfolio-items">
              <div class="col-sm-6 col-md-3 col-lg-3 web">
                <div class="portfolio-item">
                  <div class="hover-bg nohover"> <a href="/assets/images/nyclarge.jpg" title="New York City" data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>New York City</h4>
                    </div>
                    <img src="/assets/images/nycsmall.jpg" class="img-responsive" alt="Project Title"> </a>
                    </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 product">
                <div class="portfolio-item">
                  <div class="hover-bg nohover"> <a href="02/assets/images/washingtonlarge.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Grand Canyon</h4>
                    </div>
                    <img src="/assets/images/washingtonsmall.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3 col-lg-3 web">
                <div class="portfolio-item">
                  <div class="hover-bg nohover"> <a href="/assets/images/disneylarge.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Disney World</h4>
                    </div>
                    <img src="/assets/images/disneysmall.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3 col-lg-3 photography">
                <div class="portfolio-item">
                  <div class="hover-bg nohover"> <a href="/assets/images/lasvegaslarge.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                    <div class="hover-text">
                      <h4>Las Vegas</h4>
                    </div>
                    <img src="/assets/images/lasvegassmall.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>

</section>


<div class="pimg1">
	<div class="ptext">
	<span class="border">
		Feeling interested? Sign Up Today!
	</span>
	</div>
</div>

<section class="section section-dark-footer">

<a href="https://www.instagram.com/tripwithus842/" target="_blank"><i class="fa fa-instagram" style="font-size:40px;color:white"></i></a>
<a href="https://plus.google.com/?pli=1" target="_blank"><i class="fa fa-google" style="font-size:40px;color:white"></i></a>
<a href="https://www.facebook.com/groups/265746840999847/" target="_blank"><i class="fa fa-facebook" style="font-size:40px;color:white"></i></a>

<div class="row">
    <p>
        Copyright &copy; 2019 by TripWithUs! Developed by Team# 05. All rights reserved.
    </p>
</div>

</section>

</body>
</html>


