

html,body {
  background-image: url('http://getwallpapers.com/wallpaper/full/2/8/1/137884.jpg');
  background-color: rgba(0,0,0,0.5) !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Lato', sans-serif;
  }
