<html>
  <head>

      <script type="text/javascript" src="javascript.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
      <script type="text/javascript" src="/assets/js/myFile.js"></script>
<script>

 var app = angular.module('DemoApp', [])
 app.controller('akuaController', function($scope) {
   $scope.load = function() {
     alert("Window is loaded");
   }
 });
</script>
  </head>
  <body onload="myFunction();">
      <div ng-app="myApp" ng-controller="mainController">
          <h2>Angularjs call function on page load</h2>
        </div>


        <script type="text/javascript">
          var myApp = angular.module("myApp", []);


          myApp.controller("mainController", function($scope, $window) {


            $window.onload = function() {
               alert("Angularjs call function on page load");
            };


          });


        </script>

<div class="main" ng-init="load()">

    <h1>MYLOGO.COM</h1>
    <hr>

    <h2>PORTFOLIO</h2>

    <div id="myBtnContainer">
      <button class="btn active" id ="first" onclick="filterSelection('all')"> Show all</button>
      <button class="btn" onclick="filterSelection('nature')"> Nature</button>
      <button class="btn" onclick="filterSelection('cars')"> Cars</button>
      <button class="btn" onclick="filterSelection('people')"> People</button>
    </div>

    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column nature">
        <div class="content">
          <img src="/assets/images/boston_freedomtrail.png" alt="Mountains" style="width:100%">
          <h4>Mountains</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column nature">
        <div class="content">
        <img src="/assets/images/boston_freedomtrail.png" alt="Lights" style="width:100%">
          <h4>Lights</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column nature">
        <div class="content">
        <img src="/assets/images/boston_freedomtrail.png" alt="Nature" style="width:100%">
          <h4>Forest</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>

      <div class="column cars">
        <div class="content">
          <img src="/assets/images/boston_freedomtrail.png" alt="Car" style="width:100%">
          <h4>Retro</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column cars">
        <div class="content">
        <img src="/assets/images/boston_freedomtrail.png" alt="Car" style="width:100%">
          <h4>Fast</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column cars">
        <div class="content">
        <img src="/assets/images/boston_freedomtrail.png" alt="Car" style="width:100%">
          <h4>Classic</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>

      <div class="column people">
        <div class="content">
          <img src="/assets/images/boston_freedomtrail.png" alt="Car" style="width:100%">
          <h4>Girl</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column people">
        <div class="content">
        <img src="/assets/images/boston_freedomtrail.png" alt="Car" style="width:100%">
          <h4>Man</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
      <div class="column people">
        <div class="content">
        <img src="/assets/images/boston_freedomtrail.png" alt="Car" style="width:100%">
          <h4>Woman</h4>
          <p>Lorem ipsum dolor..</p>
        </div>
      </div>
    <!-- END GRID -->
    </div>

    <!-- END MAIN -->
    </div>




    </body>
    </html>


