* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html, body {
    background-image: url('/assets/images/destination.jpg');
    font-family: "Lato", sans-serif;
    background-repeat:repeat;
}
.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }

  .ptext .border{
    background : #111;
    color: #fff;
    padding: 20px;
  }

  .nav-link {
      font-size: 1.4em;
      font-family: 'Lato', 'sans-serif';
      cursor: pointer;
      margin-left: 35px;
      /*color: #555454; */
  }

  nav .navbar-nav li a{
    color: #000 !important;
    }

  .navbar .navbar-text {
      color: black!important;
      font-weight: bold;
      font-size: 3em;
  }

  .sheero {
      height: 60px;
      width: auto;
  }

  /*******************************************/

  .search-part {
      width: 60%;
      margin: 100px auto;

  }

  .has-search .form-control {
      padding-left: 2.375em;
  }

  .has-search .form-control-feedback {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #aaa;
  }


/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}
