<div class="container">
    <h1>Event List
        <a [routerLink]="['/book-create']" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </h1>
   <button style="float:left;" btn btn-success (click)="logout()">Logout</button>
  <table class="table">
    <thead>
      <tr>
        <th>Destination Name</th>
        <th>Destination Type</th>
        <th> Destination Budget</th>
        <th> Destination Best Times To Visit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publisher }}</td>
        <td><a [routerLink]="['/book-details', book._id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
  <div class="container mb-5">
      &nbsp;
      <div class="portfolio-items">
        <div class="card-deck" *ngFor="let book of books">
        <div class="card product" style="color: #555;">
            <div class="card-body">
            <img src="/assets/images/Dest_goldengate.png" alt="golden gate picture" class="img-fluid"/>
            <h3 class="card-title mt-2">{{ book.isbn }}</h3>
            <h5 class="card-subtitle">{{ book.title }}</h5>
            <p class="card-text mt-3">{{ book.author }}</p>
            <h5 class="card-subtitle">{{ book.publisher }}</h5>
            <a href="#" class="btn btn-primary">Show Detail</a>
            </div>
        </div>
        </div>
        </div>
</div>
<!-- <div class="container">
    <h1>Book List
      <a [routerLink]="['/book-create']" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </h1>
    <button class="btn btn-success" (click)="logout()">Logout</button>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td><a [routerLink]="['/book-details', book._id]">Show Detail</a></td>
        </tr>
      </tbody>
    </table>
  </div> -->
