<!DOCTYPE HTML>
<html lang="en">
<head>

</head>
<body>
<div class="limiter">
<div class="container-login100">
<div class="wrap-login100 p-t-90 p-b-30"><form class="login100-form validate-form">
<span class="login100-form-title p-b-40"> Welcome Admin! </span>
<p>&nbsp;<a class="btn-login-with bg2" href="#"> Add New Events </a></p>
<p>&nbsp;</p>
<p><a class="btn-login-with bg2" href="#"> Add Users </a></p>
<p>&nbsp;</p>
<p><a class="btn-login-with bg2" href="#"> Remove Users </a></p>
<p>&nbsp;</p>
<p><a class="btn-login-with bg2" href="#"> Control Favorites </a></p>
<p>&nbsp;</p>
<p><a class="btn-login-with bg2" href="#"> Approve Reviews </a></p>
</form></div>
<div class="text-center p-t-55 p-b-30">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>
</body>
</html>
