<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
</head>
<body>login100-form-title
    <app-navbar></app-navbar>
<div class="limiter">
<div class="container-login100">
<div class="wrap-login100 p-t-90 p-b-30">
    <form class="login100-form validate-form">
<span class=" p-b-40"> Welcome Admin! </span>


<p>&nbsp;<a class="btn-login-with bg2" href="events"> Add New Events </a></p>
<p>&nbsp;</p>
<p><a class="btn-login-with bg2" href="dests1"> Add Destinations </a></p>
<p>&nbsp;</p>
</form>
</div>
</div>
</div>
</body>
</html>
