/* body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin p {
  margin-top: 10px;
} */

@import url('https://fonts.googleapis.com/css?family=Lato');

html,body {
background-image: url('http://getwallpapers.com/wallpaper/full/2/8/1/137884.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Lato', sans-serif;
}

.container {
height: 800px;
align-content: center;
}

.card {
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important; /* Irrespective of any other rules, must apply this */
}

.card-header h3 {
color: white;
text-align: center;
font-style: italic;
}

.input-group-prepend span {
width: 40px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus {
outline: 0 0 0 0  !important; /* Irrespective of any other rules, must apply this */
box-shadow: 0 0 0 0 !important;

}

.form-button {
    margin-top: 45px;
    text-align: center;
}

.login_btn {
color: black;
font-weight: bold;
background-color: #FFC312;
width: 150px;
}

.login_btn:hover {
color: black;
background-color: #ff7f12;
}

.links {
color: white;
}

.links a {
color: whitesmoke;
text-decoration: none;
margin-left: 15px;
}
