

  <!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>

  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome -- Fa icons -- CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!--Login Custom styles-->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<app-navbar></app-navbar>
<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Get Started<span style="float:right;"><button class="btn btn-success" (click)="logout()">Home</button></span></h3>
      </div>
      <div class="card-body"> <!---Card container for input elements - Email, Username, Pasword and Submit button -->
        <!---Form component in HTML, CSS3 with submit event listner on it--->
        <form #f="ngForm" (submit)="signup()">
          <div class="input-group form-group"> <!--Division consisting of form-control elements-->
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <!--Input for email address with bindings to backend for transaction-->
            <input type="email" class="form-control" placeholder="Email address" [(ngModel)]="signupData.email" name="email" required/>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <!--Input for username with bindings to backend for transaction-->
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="signupData.username" name="username" required/>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <!--Input for password with bindings to backend for transaction-->
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="signupData.password" name="password" required/>
          </div>
          <!--Submit button element of form compnent to trigger event to the event listener-->
          <div class="form-group form-button">
                        <button type="submit" value="Login" class="btn login_btn">Sign Up</button>
          </div>
          <div>
            <p class = "signup-message">{{message}}</p>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
</body>
</html>
